{{ define "chat/index.tmpl" }}
<html>
<head>
    <link rel="stylesheet" href="https://acgay.oss-cn-hangzhou.aliyuncs.com/tool/heightlight_default.min.css">
</head>

<style type="text/css">
    #scan{
        width: 92%;
        margin: auto;
    }
    .text-content {
        height: 300px;
        margin-top: 10px;
        width: 100%;
    }

    .title {
        font-size: 20px;
        margin-top: 20px;
    }

    .result ul {
        border: 2px solid #000;
        font-size: 15px;
        list-style-type: none;
        margin-top: 15px;
        min-height: 50px;
        padding: 5px 30px;
        width: 100%;
    }

    .normal {
        background: #e4ffdd;
    }

    .illegal {
        background: #ffded8;
    }

    .query {
        background: #4dcb85;
        border: 0;
        color: #fff;
        height: 30px;
        margin-top: 10px;
        width: 90px;
    }
    .query:hover{
        cursor: pointer;
    }
    [v-cloak] {
        display: none;
    }
</style>

<div id="scan">
    <div class="title">
        请输入要处理的内容
    </div>
    <textarea id="content" class="text-content" v-model="content" placeholder="请输入要处理的内容"
              required="required">
    </textarea>
    <div class="title">
        请选择要处理的场景
    </div>
    <select v-model="scene">
        <option value="1">自由聊天</option>
        <option value="4">中译英</option>
        <option value="3">编程变量命名</option>
        <option value="2">文本规范检查 beta</option>
        <option value="5">Go 单元测试 beta</option>
        <option value="6">PHP 单元测试 beta</option>
    </select>
    <br />
    <input class="query btn" name="query" type="button" value="发 送" @click="check()" />
    <div id="check-result" v-cloak>
        <div class="title">回 答</div>
        <div id="result" class="result" v-html="checkResult"></div>
    </div>
</div>

<script src="https://acgay.oss-cn-hangzhou.aliyuncs.com/tool/vue.js"></script>
<script src="https://acgay.oss-cn-hangzhou.aliyuncs.com/tool/highlight.min.js"></script>

<script>
    hljs.highlightAll()
    new Vue({
        el: '#scan',
        data: {
            content: '',
            checkResult: '',
            scene: 1,
            canClick: true,
        },
        methods: {
            check: function () {
                if (!this.canClick) {
                    return
                }
                if (this.content === '') {
                    alert('请输入要查询的文本')
                    return
                }
                this.checkResult = '请等待查询结果...'
                this.canClick = false
                this.$http.get('get', { params: { content: this.content, scene: this.scene } },
                    { emulateJSON: true }).then(function (res) {
                    var data = res.data
                    if (data.code === 0) {
                        this.checkResult = data.info
                        document.querySelectorAll('code').forEach((el) => {
                            console.log(23333)
                            hljs.highlightElement(el)
                        });
                    } else {
                        alert(data.info)
                    }
                    this.canClick = true
                }, function(err){
                    alert(err.statusText)
                    this.canClick = true
                }).finally(function () {
                    document.querySelectorAll('pre code').forEach((el) => {
                        hljs.highlightElement(el)
                    });
                })
            },
        },
    })
</script>
</html>
{{ end }}
